@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary1: #424BD0;   /* //little darkish  */
  --primary2: #0009FF;  /* //lightihst  */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

  font-family: Arial, Helvetica, sans-serif;
}

@keyframes scroll-up {
  from {
    /* Start at the top */
    transform: translateY(0%);
  }
  to {
    /* Move up exactly the height of one copy (1/3 of the 300% total height) */
    transform: translateY(-33.33%); 
  }
}
.animate-scroll-up-custom {
    animation: scroll-up 40s linear infinite;
}

/* ------------ */
@keyframes scroll-left {
  from {
    /* Start position: 0% translation */
    transform: translateX(0);
  }
  to {
    /* End position: Move left by the width of one set of duplicated logos */
    transform: translateX(-50%); 
  }
}